.autocomplete-input {
    width: 100%;
    position: relative;
}

.autocomplete-unordered {
    list-style-type: none;
    max-height: 250px;
    overflow: auto;
    padding: 0;
    border: 1px solid black;
    position: absolute;
    z-index: 50;
    background: white;
    width: 100%;
    box-shadow: 2px 1px 12px -5px rgba(0, 0, 0, 0.75);
}

.autocomplete-unordered li {
    padding: 5px;
}

.autocomplete-unordered li:hover {
    background: rgb(236, 233, 58);
    cursor: pointer;
}
