.course-info {
    text-align: left;
}

.course-info .row:first-child {
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #048a81;
}

.course-info-code {
    flex-wrap: wrap;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    /* margin: 20px 0; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.course-info-cloud {
    margin-top: 50px;
}

.course-info-desc {
    border-left: 10px dashed #048a81;
    padding: 20px 40px;
    background: white;
}

.course-info-desc div {
    padding-top: 15px;
}

.course-info-url {
    display: block;
    padding: 20px;
    background-color: #01a7c2;
    color: white;
    margin: 1.5% auto;
    width: 25%;
    text-align: center;
}

.course-info-url:hover {
    background-color: #1b3b6f;
    color: white;
    text-decoration: none;
}

.course-info-related-courses {
    text-align: center;
    margin: 3%;
}

.related-courses-header {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 15px;
}
.course-info-related-courses a {
    display: inline-block;
    padding: 10px;
    background-color: #01a7c2;
    color: white;
    width: 80%;
    margin: 10px auto 25px;
    text-decoration: none;
}

.course-info-related-courses a:hover {
    background-color: #1b3b6f;
}

.course-info-skills-header {
    display: block;
    font-size: 12px;
}
