.header {
    height: 50px;
    background: #25272e;
    z-index: 1000;
    position: relative;
    width: 100%;
    color: white;
    font-size: 2rem;
}
.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: white;
}
