.recommended-courses-header {
    font-size: 2.5rem;
    padding: 20px;
    text-align: left;
}
.course-card {
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.course-card:hover {
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
}
.course-card .card-title {
    font-size: 1.5rem;
}
.course-card .course-link {
    display: inline-block;
    width: 50%;
    margin: 10px auto;
    padding: 15px 20px;
    background: cadetblue;
    color: white;
}
.course-card .course-link:hover {
    text-decoration: none;
}
.recommended-courses-chart {
    padding: 9vh 0 0;
}
.donutchart-arcs-path {
    cursor: pointer;
}
.recommended-courses-chart .recommended-courses-desc {
    margin-left: 10px;
    margin-right: 20px;
    text-align: left;
    padding: 20px;
    border: 1px solid black;
    /* padding-right: 15px; */
}
